.background-image {
  background-size: cover;
  display: none;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
  &.hover {
    display: block;
  }
  &.twitch {
    background-image: url("./assets/images/bg/duck-hunt.gif");
  }
  &.makeover {
    background-image: url("./assets/images/bg/benatar.gif");
  }
  &.rosetta {
    background-image: url("./assets/images/bg/rosetta.gif");
  }
  &.slo {
    background-image: url("./assets/images/bg/slo.gif");
  }
}
